<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tela dos editais</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Edital</h2>
        <div>
        <a href="./login"><button>Voltar</button></a>
        </div>
            <table>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Data de fechamento</th>
                    <th>Status</th>
                </tr>
                <tr th:each="f : ${edital}">
                    <td th:text="${f.titulo}"></td>
                    <td th:text="${f.descricao}"></td>
                    <td th:text="${f.dataFechamento}"></td>
                    <td th:text="${f.status}"></td>
                </tr>
            </table>
    </body>
</html>
